body { font-family: sans-serif; display: flex; justify-content: center; }
.container { width: 300px; margin-top: 50px; }
ul { list-style-type: none; padding: 0; }
li { 
    background: #ffffff; 
    margin: 5px 0; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
}
.delete { color: red; cursor: pointer; }

.cajaFinal {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
